{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Note Form</title>
        <!-- Fonting -->
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Merriweather&display=swap" rel="stylesheet">
        <!-- Styling -->
        <link rel="stylesheet" href="{% static 'styles.css' %}">
    </head>
    <body>
    {% include 'navbar.html' %}
        <div class="content forms">
            <form action="" method="POST">
                {% csrf_token %}
                <div class="form-item">
                    <label>{{form.to.label}} :</label>
                    <div class="field">{{ form.to }}</div>
                </div>
                <div class="form-item">
                    <label>{{form.note_from.label}} :</label>
                    <div class="field">{{ form.note_from }}</div>
                </div>
                <div class="form-item">
                    <label>{{form.title.label}} :</label>
                    <div class="field">{{ form.title }}</div>
                </div>
                <div class="form-item">
                    <label>{{form.message.label}} :</label>
                    <div class="field">{{ form.message }}</div>
                </div>
            <input class='submit' type='submit' value='Submit' />
            </form>
        </div>
    </body>
</html>