{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Note List</title>
    <!-- Fonting -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Merriweather&display=swap" rel="stylesheet">
    <!-- Styling -->
    <link rel="stylesheet" href="{% static 'styles.css' %}">
  </head>
  <body>
  {% include 'navbar.html' %}
    <div class="content" style="display: flex; flex-wrap: wrap;">
            {% if notes %}
                {% for note in notes %}
                <div class="card">
                    <div class="heading-card">
                        <h1 class="tulisan">{{ note.title }}</h1>
                    </div>
                    <h2 class="subheading to tulisan">To: {{ note.to }}</h2>
                    <h2 class="subheading from tulisan">From: {{ note.note_from }}</h2>
                    <hr >
                    <p class="message tulisan">{{ note.message }} </p>
                </div>
                {% endfor %}
            {% endif %}
    </div>
  </body>
</html>