{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Note Table</title>
    <!-- Fonting -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Merriweather&display=swap" rel="stylesheet">
    <!-- Styling -->
    <link rel="stylesheet" href="{% static 'styles.css' %}">
  </head>
  <body>
  {% include 'navbar.html' %}
    <div class="content">
        <table class="note-table">
        <tr>
            <th>To</th>
            <th>From</th>
            <th>Title</th>
            <th>Message</th>
        </tr>
        {% if notes %}
                {% for note in notes %}
            <tr>
            <td> {{ note.to }} </td>
            <td> {{ note.note_from }} </td>
            <td> {{ note.title }} </td>
            <td> {{ note.message }} </td>
                </tr>
                {% endfor %}
            {% endif %}
        </table>
    </div>
  </body>
</html>