{% load static %}
<nav class="navbar">
    <div class="brand-logo">
        <img src="{% static 'notes.png' %}" alt=""></img>
        <a class="brand" href="{% url 'lab-4' %}">Notes</a>
    </div>
    <div class="nav-link">
        <a href="{% url 'notes' %}">Lists</a>
        <a href="{% url 'lab-4' %}">Tables</a>
        <a href="{% url 'add' %}">Add</a>
    </div>
</nav>