.navbar{
    font-size: 12px;
    height: 43px;
    background-color: black;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 10%;
    padding-right: 10%;
}

.content{
    padding: 10px 10px;
}

.navbar img {
    height: 28px;
    filter: invert(1);
}

.brand{
    padding-left: 5px;
    font-family: 'Merriweather', sans-serif;
    font-weight: bold;
    font-size: 1.4rem;
}

.brand-logo{
    display: flex;
    align-items: center;
}

body{
    margin: 0;
    padding: 0;
}

.navbar a {
    text-decoration: none;
    color: #fff;
}

.nav-link a:hover{
    color: #674ea7;
}

.nav-link a {
    padding: 1rem;
    font-size: 1rem;;
}

.card {
    padding: 2px 16px;
    width: 100%;
    background-color: #66BFBF;
}