.navbar{
    height: 43px;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 10%;
    padding-right: 10%;
}

.content{
    padding: 10px 10px;
}

.navbar img {
    height: 28px;
    filter: invert(1);
}

.brand{
    padding-left: 5px;
    font-family: 'Merriweather', sans-serif;
    font-weight: bold;
    font-size: 1.4rem;
}

.brand-logo{
    display: flex;
    align-items: center;
}

body{
    margin: 0;
    padding: 0;
}

.navbar a {
    text-decoration: none;
    color: #fff;
}

.nav-link a:hover{
    color: #674ea7;
}

.nav-link a {
    padding: 1rem;
    font-size: 1rem;;
}

.card {
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    width: 200px;
    margin: 10px;
}

.heading-card{
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    background-color: #66BFBF;
    color: #fdfdfd;
    padding: 10px 10px;
    text-align: center;
    font-size: 0.8rem;
    font-weight: bold;
}

.heading-card h1{
    margin: 0;
}

.card .subheading {
    font-size: 0.9rem;
}

.to {
    padding: 10px 5px 2px 5px;
}

.from {
    padding: 2px 5px 10px 5px;
}

.to, .from{
    margin: 0;
}

.message {
    margin: 0;
    padding: 10px 5px;
}

.card hr {
    border-top: 1.5px dashed #66BFBF;
    margin: 0;
}

.tulisan {
    word-wrap: break-word;
}

.note-table{
    table-layout:fixed;
    border-collapse: collapse;
    width: 100%;
}

.note-table th{
    background-color: #66BFBF;
    color: white;
}

.note-table td, .note-table th {
    border: 1px solid #ddd;
    padding: 10px 5px;
}

.note-table td {
    word-wrap:break-word;
    width: 100%;
}

.field {
    width: 100%;
}

.form-item {
    padding: 10px 5px;
}

.forms{
    text-align: center;
}

.submit {
    margin-top: 15px;
    font-weight: bold;
    color: white;
    background-color: black;
    padding: 10px 40px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.submit:hover{
    color:#674ea7;
    background-color: #3b3b3b;
}