<html>
    <head>
        <meta charset="utf-8">
        <title>Friend Form</title>
    </head>
    <body>
        <form action="" method="POST">
            {% csrf_token %}
            {{ form }}
        <input type='submit' value='Submit' />
        </form>
    </body>
</html>